.menu {
  min-height: 100vh;
  width: 90%;
  background: linear-gradient(to top, #2e2e2e, #4D4B47 );
}

.back {
  color: #FDE74C;
  font-size: x-large;
  position: fixed;
  padding-right: 52px;
  padding-left: 52px;
  padding-top: 8px;
  padding-bottom: 8px;

  justify-self: center;
  border-image: transparent 1;
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent;
  border-right: 5px solid transparent;

  transition: color 300ms ease;
}

.back:hover {
  border-image: linear-gradient(to left, #26d0ff, transparent 90%) 1;
  color: #fff39b;
}

.gallery {
  margin-right: 4vw;
  justify-content: center;
}

.gallery-item {
  height: 25vh;
  padding: 0.5rem;
}

.gallery-item img {
  height: 100%;
  box-shadow: 0px 0.1rem 0.4rem black;
  transition: transform 250ms ease;
}

.gallery-item:hover {
  z-index: 99;
}

.gallery-item img:hover {
  transform: scale(1.33);
}

